<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Alta de Empresas</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
        <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
          <h4 class="card-header"><strong>Datos de la Empresa</strong></h4>              
          <div class="card-body">
            <form th:action="@{/empresas/save}" method="post" th:object="${empresa}">
              <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
				</ul>
			  </div>              
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    
                    <!--/* Guardo id para saber si inserto o actualizo*/-->
                    <input type="hidden" th:field="*{idEmpresa}" >
      
                    
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombreEmpresa}" id="nombreEmpresa" name="nombreEmpresa" placeholder="Escriba el nombre de la Empresa" required="required">
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Cuit</label>
                    <input type="text" class="form-control" th:field="*{cuit}" id="cuit" name="cuit" placeholder="Escriba el CUIT de la empresa sin guiones" required="required">
                  </div> 
                </div>                
              </div> 
              
           <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Nro Cuenta</label>
                    <input type="text" class="form-control" th:field="*{cuenta}" id="cuenta" name="cuenta" placeholder="Escriba el numero de la Cuenta" required="required">
                  </div> 
                </div>                
              </div> 
              
              <hr>
              <button type="submit" title="Guardar el registro." class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>