<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Alta de Proveedores</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal"></header>

	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Datos de la Proveedor</strong>
				</h4>
				<div class="card-body">
					<form th:action="@{/proveedores/save}" method="post"
						th:object="${proveedor}">



						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								<label for="empresas">Empresa</label> <select
									class="custom-select form-control" name="nombreEmpresa">
									<option th:each="emp : ${empresa}"
										th:value="${emp.nombreEmpresa}" th:text="${emp.nombreEmpresa}"
										th:data="${emp.idEmpresa}"></option>
								</select> <input name="idEmpresa" id="idEmpresa" hidden="hidden" value="" />
							</div>
						</div>
					</div>



						<div class="row">
							<div class="col-md-6">
								<div class="form-group">

									<!--/* Guardo id para saber si inserto o actualizo*/-->
									<input type="hidden" th:field="*{idProveedor}">

									<!--/* Guardo ruta de imagen x si actualizo */-->

									<label for="nombre">Razon Social</label> <input type="text"
										class="form-control" th:field="*{nombre}" id="nombre"
										name="nombre" placeholder="Escriba el nombre del Proveedor"
										required="required">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="descripcion">Cuit</label> <input type="text"
										class="form-control" th:field="*{cuit}" id="cuit" name="cuit"
										placeholder="Escriba el CUIt del proveedor sin guiones"
										required="required">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="descripcion">CBU</label> <input type="text"
										class="form-control" th:field="*{cbu}" id="cbu" name="cbu"
										placeholder="Escriba el numero de CBU del Proveedor"
										required="required">
								</div>
							</div>
						</div>

						<hr>
						<button type="submit" title="Guardar el registro."
							class="btn btn-primary">Guardar</button>
					</form>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/code.js}"></script>
</body>
</html>