<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" th:href="@{/}">Gesti&oacute;n EEP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item" sec:authorize="hasAnyAuthority('USUARIO','ADMINISTRADOR')">
      <a class="nav-link" th:href="@{/empresas/index}">Empresas</a>
	   </li>
	  <li class="nav-item" sec:authorize="hasAnyAuthority('USUARIO','ADMINISTRADOR')">
      <a class="nav-link" th:href="@{/empleados/index}">Empleados</a>
	   </li>
	  <li class="nav-item" sec:authorize="hasAnyAuthority('USUARIO','ADMINISTRADOR')">
      <a class="nav-link" th:href="@{/proveedores/index}">Proveedores</a>
	  </li>
	  <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('USUARIO','ADMINISTRADOR')">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('USUARIO','ADMINISTRADOR')">Pagos</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/pagos/sueldo/index}">Sueldos</a>
          <a class="dropdown-item" th:href="@{/pagos/proveedor/index}">Proveedores</a>
        </div>
	   </li>
	   	  <li class="nav-item" sec:authorize="hasAnyAuthority('USUARIO','ADMINISTRADOR')">
      <a class="nav-link" th:href="@{/altas/index}">Alta de Cuentas</a>
	  </li>
	  	  <li class="nav-item" sec:authorize="hasAnyAuthority('USUARIO','ADMINISTRADOR')">
      <a class="nav-link" th:href="@{/debitos/index}">Debito Directo</a>
	  </li>
	   <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR')">
	      <a class="nav-link" th:href="@{/usuarios/index}" >Usuarios</a>
	   </li>
	   <li class="nav-item">
        <a class="nav-link" th:href="@{/contacto}">Cont&aacute;ctenos</a>
      </li>                    
    </ul>
    <div sec:authorize="isAnonymous()">
		<a class="btn btn-primary" th:href="@{/index}">Iniciar Sesi&oacute;n</a>&nbsp;
		<a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>
	</div>	    
    <div sec:authorize="isAuthenticated()">
		<span class="text-light">Bienvenido</span>&nbsp;<span class="text-light" sec:authentication="name"></span>&nbsp;
		<a class="btn btn-primary" th:href="@{/logout}">Salir</a>
	</div>    
  </div>
</nav>     