<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Nuevo Debito</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal"></header>

	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Nuevo Débito</strong>
				</h4>
				<div class="card-body">
					<form th:action="@{/debitos/save}" method="post"
						th:object="${empleado}">
						<div th:if="${#fields.hasErrors('*')}" class='alert alert-danger'
							role='alert'>
							Por favor corrija los siguientes errores:
							<ul>
								<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
							</ul>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="descripcion">CBU</label> <input type="text"
										class="form-control" th:field="*{cbu}" id="cbu" name="cbu"
										placeholder="CBU del Cliente"
										required="required">
								</div>
							</div>
						</div>
						
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
									<!--/* Guardo id para saber si inserto o actualizo*/-->
									<input type="hidden" th:field="*{idEmpleado}">
								<label for="nombre">Nombre del cliente</label> <input type="text"
										class="form-control" th:field="*{nombre}" id="nombre"
										name="nombre" placeholder="Nombre del Cliente"
										required="required">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="descripcion">Referencia</label> <input type="text"
										class="form-control" th:field="*{apellido}" id="apellido"
										name="apellido" placeholder="Referencia del Debito"
										required="required">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="descripcion">Importa 1er Vencimiento</label> <input type="text"
										class="form-control" th:field="*{importe}" id="importe" name="importe"
										placeholder="Importe del 1er Vencimiento"
										required="required">
								</div>
							</div>
						</div>
						
					<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="descripcion">Importa 2do Vencimiento</label> <input type="text"
										class="form-control" th:field="*{importe}" id="importe" name="importe"
										placeholder="Importe del 2do Vencimiento"
										required="required">
								</div>
							</div>
						</div>
						
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="descripcion">Importa 3er Vencimiento</label> <input type="text"
										class="form-control" th:field="*{importe}" id="importe" name="importe"
										placeholder="Importe del 3er Vencimiento"
										required="required">
								</div>
							</div>
						</div>



						<hr>
						<button type="submit" title="Guardar el registro."
							class="btn btn-primary">Guardar</button>
					</form>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/code.js}"></script>
</body>
</html>