<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Gestion EEP | Contacto</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>
	<header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">
      <hr>

      <br /> 
      <br /> 
      <br /> 


      <div class="container">
		
        <div class="card">
        <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
          <h4 class="card-header"><strong>Formulario de Contacto</strong></h4>              
          <div class="card-body">
          <form th:action="@{/send}" method="post" th:object="${mail}">               
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control"  id="nombre" name="nombre" placeholder="Escriba su nombre" required="required">
                  </div>
                </div>                
              </div> 
               <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">Apellido</label>
                    <input type="text" class="form-control"  id="apellido" name="apellido" placeholder="Escriba su apellido" required="required">
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="cuit">Cuit</label>
                     <input type="text" class="form-control"  id="cuit" name="cuit" placeholder="Escriba su cuit" required="required">
                  </div> 
                </div>                
              </div> 
             <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">E-mail</label>
                    <input type="text" class="form-control"  id="email" name="email" placeholder="Escriba su e-mail" required="required">
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Mensaje</label>
                    <textarea class="form-control" name="mensaje" id="mensaje" rows="2"></textarea>
                  </div> 
                </div>                
              </div> 
              <hr>
              <button type="submit" title="Guardar el registro." class="btn btn-primary">Enviar</button>  
            </form>
          </div>
        </div>

		</div>  
                 
		  <hr>	


    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
$(document).ready(function() {    
    $('.button').on('click', function(){
        //Añadimos la imagen de carga en el contenedor
        $('#contacto').html('<div class="loading"><img src="images/loader.gif" alt="loading" /><br/>Un momento, por favor...</div>');
 
        $.ajax({
            type: "POST",
            url: "/send",
            success: function(data) {
                //Cargamos finalmente el contenido deseado
                $('#contacto').fadeIn(1000).html(data);
            }
        });
        return false;
    });              
});    
</script>
  </body>
</html>
