<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Gestion EEP | Ingreso</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal"></header>


	<main role="main">
		<hr>
		<div class="container d-flex justify-content-center align-items-center" style="height:50vh;">

			<div class="card">
				<div th:if="${msg != null}" class='alert alert-danger'
					th:text="${msg}" role='alert'></div>

				<div class="card-body">
			

						<div th:if="${error}">
							<div class="alert alert-danger">
								<span th:text="${error}"></span>
							</div>
						</div>

						<img class="mb-4 rounded mx-auto d-block" src="images/lock.png" alt="" width="128" height="128">
						<h4 class="h3 mb-3 font-weight-normal">Cambio de Contraseña</h4>
						<form th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post">

 						<div class="row">

                
 					 <div class="col-md-10"> 
							<p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Error de Validación</p>

							<input type="hidden" name="token" th:value="${token}" />

							<div  th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="glyphicon glyphicon-lock"></i>
									</span> 
									<input id="password" class="form-control" placeholder="Nuevo password" type="password" th:field="*{password}" />
								</div>
								<p class="error-message" th:each="error: ${#fields.errors('password')}" th:text="${error}">Error de Validación</p>
							</div>
<br>
							<div  th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
								<div class="input-group">
									<span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i>
									</span> <input id="confirmPassword" class="form-control" placeholder="Confirme password" type="password" th:field="*{confirmPassword}" />
								</div>
								<p class="error-message" th:each="error: ${#fields.errors('confirmPassword')}" th:text="${error}">Error de Validación</p>
							</div>
<br>
								<button type="submit" class="btn btn-block btn-success">Cambiar password</button>

							</div>
							</div>
						</form>
					
				
				</div>
			</div>


		</div>
	</main>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	    <script type="text/javascript">
    var password = document.getElementById("password")
    , confirm_password = document.getElementById("confirmPassword");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Las contraseñas no coinciden!");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
    
    </script>
</body>
</html>